:root{
  background-color: #464646;
  display: flex;
  flex-direction: column;
}

@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", sans-serif;
  --color-darkgrey: #464646;
  --color-pink: #DF59C2;
  --color-green: #69DF59;
  --color-lightblue: #59D2DF;
  --color-yellow: #DFDF59;
  --color-lightgrey: #C8C8C8;
  --color-verydarkgrey: #222222;
  --color-white: #ffffff;
  --background-disabled: #808080;
}

/*---------------HOME------------------*/
.cnt-main-home{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
/*---------------MENU-------------------*/

.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 900;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--color-darkgrey);
  color: #FFFFFF;
  font-family: var(--font-sans);
  transition: left 0.3s ease;
  padding: 20px 0;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.divider {
  height: 1px;
  background-color: var(--color-lightgrey);
  margin: 0 20px;
}

/*-------------------- PREFERENCIAS ---------------------*/

.ajuste-cnt{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 0.5rem;
}
.info-ajuste-cnt{
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}
.info-ajuste-cnt label{
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: var(--font-sans);
}
.selector-pref{
  color: var(--color-darkgrey);
  font-size: 1.2rem; 
  background-color: var(--color-green);
  border-radius: 0.5rem;
  font-family: var(--font-sans);
  padding: 0.3rem;
  width: 13rem;
}

.main-pref-cnt{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.notif-cnt{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.config-noti{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.config-noti label{
  color: var(--color-white);
  font-size: 1.1rem;
  font-family: var(--font-sans);
}

/*-----------------MASCOTA - VISTA ---------------------*/

.title-mascota-cnt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 2.3rem 1.5rem 2.3rem;
}
.title-mascota-cnt h2{
  font-family: var(--font-sans);
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.6rem;
}
.btn-mascota-cnt{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 5rem;
  column-gap: 1rem;
}
.btn-mascota-cnt img{
  width: 1.5rem;
  height: auto;
}

.mascota-data-cnt{
  display: flex;
  flex-direction: column;
  margin: 2rem 2.3rem 1.5rem 2.3rem;
  row-gap: 1.2rem;
}
.mascota-info-agrupador{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.mascota-dato{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  font-family: var(--font-sans);
}
.mascota-dato label{
  color: var(--color-white);
  font-weight: 500;
}

.datocorto{
  background-color: var(--color-lightblue);
  padding: 0.5rem;
  width: 10rem;
  border-radius: 0.7rem;
}

.datolargo{
  background-color: var(--color-lightblue);
  padding: 0.5rem;
  width: 21rem;
  border-radius: 0.7rem;
}


/*-----------------MASCOTA - EDICIÓN ---------------------*/

.no-pet-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: #f4f4f4; 
}

.editable-input {
    background-color: var(--background-disabled); 
    padding: 0.4rem 0.5rem;
    border-radius: 0.4rem;
    color: var(--color-white); 
}

.no-pet-message-cnt {
    text-align: center;
    padding: 1.2rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: -4rem; 
}

.no-pet-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: #333;
}

.no-pet-text {
    margin-bottom: 20px;
    color: #666;
}

.btn-cargar-mascota {
   
    background-color: var(--color-lightblue); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

/* Estilo para botones*/
.btn-guardar-mascota {
  display: flex; 
  width: 10rem;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: var(--color-lightblue);
  color: black;
  border-radius: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
} 

.btn-cancelar-mascota {
  display: flex; 
  align-content: center;
  justify-content: center;
  width: 10rem;
  margin-top: 0.2rem;
  padding: 0.5rem;
  background-color: var(--color-yellow);
  color: black;
  border-radius: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
}

.btn-actions-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.6rem;
}

.datolargo, .datocorto {
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

/* P Q LOS select  tengan la misma apariencia que los input */
.mascota-dato select.datocorto, .mascota-dato select.datolargo {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 0.7rem;
    padding-right: 2rem; 
    border: none;
}

/*-----------------------------INICIO DE SESIÓN-------------------------------*/
.auth-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.auth-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.auth-title{
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-family: var(--font-sans); 
  color: var(--color-lightblue);
}

.auth-input{
  font-family: var(--font-sans);
  color: var(--color-white);
  background-color: var(--background-disabled);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.auth-button{
  background-color: var(--color-lightblue);
  font-family: var(--font-sans);
  color: var(--color-white);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-top: 1rem;
  width: 15rem;
}

.auth-error-message {
  color: #a72835;
  font-size: 0.9rem;
  text-align: center;
}